__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.vscode/
.idea/

# Sensitive data - DO NOT COMMIT
client_data.csv
venv
# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
